header {
   background-color: var(--color-primary);
   display: grid;
   align-items: center;
   grid-template-columns: 1fr max-content max-content;
   padding: 1rem 2rem;
}

.site-name,
.site-name:hover {
   color: white;
   font-size: 1.6rem;
   font-weight: 500;
   width: max-content;
}

.nav-link,
.nav-link:hover {
   color: white;
   background: var(--color-gray-dark);
   padding: 0.2rem 0.6rem;
   border-radius: 4px;
   font-size: 1.2rem;
}
